*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --Primary-Clr:#ff0088;
    --White:#fff;
    --Primary-Clr-Hover:#e00069fd;
    --Secondary-Clr:#7700ffdd;
}

body{
    overflow-x: hidden;
}

.center{
    display: grid;
    align-items: center;
    height: 100vh;
}

.btn-primary{
    color: var(--White);
    background: var(--Primary-Clr);
    border-color: var(--Primary-Clr);

    &:hover{
        background: var(--Primary-Clr-Hover);
        border-color: var(--Primary-Clr-Hover);
    }
}

.btn-outline-secondary{
    color: var(--Secondary-Clr);
    background: var(--White);
    border-color: var(--Secondary-Clr);

    &:hover{
        background: var(--Secondary-Clr);
        border-color: var(--Secondary-Clr);
    }
}

.nav-link{
    font-family: 'Aladin', cursive;
    font-size: 1.4rem;
}

.bg-1{
    background: url(./Images/Circles.svg);
}

h4{
    font-family: 'Aladin', cursive;
}

.primary-hr{
    width: 151px !important;
    height: 8px !important;
    background:#ff0088 !important;
    border-radius: 13px;
}