*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --Primary-Clr:#ff0088;
    --White:#fff;
    --Primary-Clr-Hover:#e00069fd;
    --Secondary-Clr:#7700ffdd;
}

body{
    overflow-x: hidden;
}

.center{
    display: grid;
    align-items: center;
    height: 100vh;
}

.btn-primary{
    color: var(--White);
    background: var(--Primary-Clr);
    border-color: var(--Primary-Clr);

    &:hover{
        background: var(--Primary-Clr-Hover);
        border-color: var(--Primary-Clr-Hover);
    }
}

.btn-outline-secondary{
    color: var(--Secondary-Clr);
    background: var(--White);
    border-color: var(--Secondary-Clr);

    &:hover{
        background: var(--Secondary-Clr);
        border-color: var(--Secondary-Clr);
    }
}